@font-face {
    font-family: ApexRounded;
    src: url("../fonts/ApexRounded-Book.otf") format("opentype");
}
@font-face {
    font-family: ApexRounded;
    font-weight: bold;
    src: url("../fonts/ApexRounded-Medium.otf") format("opentype");
}
html {
    position: relative;
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    font-family: "ApexRounded";
    color: #414c52;
    height: 100%;
    background-color: #F7F7F7;
}
a:focus, a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    border-radius: 5px;
}
#video{
    position: absolute;
    top: 0;
    left:0;
    overflow: hidden;
    z-index: -1;
}
#navbar {
    height: 80px;
    background-color: #414c52;
}
.outer-container {
    padding-bottom: 100px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.col-md-8 img {
    width: 100%;
}
.inner-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
}
.upper-section {
    background-color: #FFFFFF;
}
.project-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.project-container h3 {
    font-weight: 600;
    font-size: 32px;
}
.project-container p {
    font-weight: 600;
    color: #C4CBCC;
    font-size: 18px;
}
.project-container .img {
    overflow: hidden;
    position: relative;
}
.project-container #favourite {
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: initial;
}
.project-container img {
    position:relative;
}
.project-container #favourite:hover {
    background-color:#FF8063;
}
.project-container .video {
    position:relative;
}
.project-container #play-btn{
    position:absolute;
    width: initial;
    left: 45%;
    top: 40%;
    opacity: 0.5;
}
.project-container footer {
    color: #1489C4;
    font-weight: 600;
    font-size: 18px;
}
.bi-section{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.bi-section .user{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: #2CA1DB;
    max-height: 28px;
    min-width: 150px;
}
.header-title {
    padding-bottom: 15px;
}
.header-title span{
    color: #414C52;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    vertical-align: -2px;
}
.comments-container {
    min-height: 60px;
}
.nested-comments-container {
    margin-left:70px;
}
.comments-container img ,
.nested-comments-container img{
    position: absolute;
}
.comments {
    background: #fff;
    margin-left: 70px;
    padding: 15px 40px 15px 20px;
    border-radius: 4px;
    position: relative ;
    min-height: 70px;
    margin-bottom: .7em;
}
.comments > img {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.comments >img:hover{
    background-color: #2CA1DB;
}

.comments input[type="submit"] {
    color: #F7F7F7;
    outline: none;
    background-color: #2CA1DB;
    padding: 3px 15px 3px 15px;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    border: none;
}
.comments input[type="submit"]:focus,
.comments input[type="submit"]:hover{
    background-color:#1489C4;
}
.form-container{
    min-height: 100px;
}
textarea {
    border: none;
    box-shaddow: none;
    -webkit-appearance: none;
}
textarea {
    outline: none !important;
    border: none;
    box-shaddow: none;
    -webkit-appearance: none;
    resize: none;
    overflow: hidden;
    min-height: 100px;
    width:100%;
}
textarea:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
}
.whoops-container {
    background-color: #FF8063;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    min-height: 500px;
    border-radius: 10px;
    top: 100px;
    padding-top: 20px;
    position: relative;
    text-align: left;
    color: white;
    border-left: solid 200px #FA6948;
}
.whoops-container h3 {
    font-size: 500px;
    position: absolute;
    left: -150px;
    line-height: 1;
}
.whoops-container .text {
    margin-left: 50px;
}
.whoops-container .text h1 {
    font-size: 100px;
    font-weight: 600;
}
.whoops-container .text p {
    font-size:32px;
}
.whoops-container .text hr{
    border: none;
    height: 0;
    border-top: 5px solid #FA6948;
    margin-left: 10px;
    margin-right: 30px;
}